@import 'src/renderer/mo-lib/style/common';

.chat-list {
  height: inherit;
  overflow: hidden;
  overflow-y: scroll;

  .monaco-list-row {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
  }

  .interactive-request {
    background-color: var(
      --chat-messageSenderBackground
    );
    border-bottom: 1px solid var(--chat-messageBorder);
    border-top: 1px solid var(--chat-messageBorder);
  }

  .interactive-response {
    background-color: var(
      --chat-messageResponseBackground
    ); // --vscode-chat-requestBackground
    border-bottom: 1px solid var(--chat-messageBorder);
    border-top: 1px solid var(--chat-messageBorder);
  }

  .interactive-item-container {
    padding: 16px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: default;
    user-select: text;
    -webkit-user-select: text;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 6px;
      }

      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--chat-messageAvatarBackground);
        pointer-events: none;
        user-select: none;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }



      .icon {
        font-size: 22px;
      }

      .username {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color: var(--chat-messageUsernameForeground);
      }

      .action-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: var(--chat-messageForeground);
        cursor: pointer;
        border: 0;
      }
    }

    .value {
      white-space: normal;
      min-height: 36px;
      word-wrap: break-word;
      width: 100%;

      p {
        margin: 0 0 16px;
        line-height: 1.6em;
        color: var(--chat-messageForeground);
      }
    }
  }
}

$input-bg: var(--chat-inputBackground);

.interactive-input-part {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--chat-inputSeparator);
  height: 80%;

  .interactive-input-and-toolbar {
    display: flex;
    height: inherit;
    box-sizing: border-box;
    cursor: text;
    margin: 0 12px;
    background-color: $input-bg;
    border: 1px solid var(--chat-inputBorder);
    border-radius: 4px;
    position: relative;
    padding-left: -10px;
    padding-top: 10px;

    .mo-monaco-editor {
      background-color: $input-bg !important;
      min-height: 0 !important;
    }
    .monaco-editor {
      background-color: $input-bg !important;
      .margin {
        background-color: $input-bg !important;
      }
      .monaco-editor-background {
        background-color: $input-bg !important;
      }
    }

    .interactive-execute-toolbar {
     // width: 100%;
      display: flex;
      width: 100px;
      justify-content: center;
      margin-right: 10px;

      span {
        font-size: 20px;
      }
    }

    .send-button {
      span {
        font-size: 30px;
        margin-right: 20px;
      }
    }
  }

  .interactive-input-editor {
    width: 100%;
    height: 100%;
  }
}
