@import 'src/renderer/mo-lib/style/common';

.audio-player-container {
  background-color: var(--chat-messageAudioBackground);
  border-radius: 5px;
  height: max-content;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding: 7px 10px;
  position: relative;

  .audio-player-controls-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }

  .audio-visualizer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .timer {
    color: var(--chat-messageForeground);
    font-size: 14px;
  }
}
